.ehla-wrapper-int {
    position: relative;

    outline: none;
}
.ehla-wrapper-ext {
    /*height: 200px;*/
     position: relative;
    min-height: 40px;
    overflow: auto;
    outline: none;
}

.ehla-input {
    position: absolute;
    display: inline-block;
    width: 100%;
    z-index: 3;

    /*Reset*/
    margin: 0;
    padding: 0;
    background: none!important;
    border: none!important;
    border-radius: 0;
    outline: none;

    /*Hide text*/
    color:transparent!important;

    /*But keep carret*/
    caret-color: white!important;
    /*Hide resize handle*/
    resize: none!important;
    overflow: hidden;

    line-height: unset!important;
}

.ehla-input::selection {
    /*Hide text*/
    color:transparent;
}

.ehla-highlighter {
    position: absolute;
    display: inline-block;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    /*overflow: hidden;*/
}

.ehla-highlighter, .ehla-highlighter > code, .ehla-input {
  font-size: 14px;
  font-weight: 200;
  font-family: 'Source Code Pro', monospace!important;
}

.dollarSignPrompt:before {
  content:"$ ";
}

.arrowSignPrompt:before {
  content:"> ";
}
