body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
  width: 100vw;
}

.dollarSignPrompt:before {
  content:"$ ";
}

.arrowSignPrompt:before {
  content:"> ";
}

pre {
  margin-top: 0!important;
}

.ui.grid>.row {
  padding-top: 0.2rem!important;
  padding-bottom: 0.2rem!important;
}

.snippetDescription {
  padding-top: .5rem!important;
  padding-bottom: .3rem!important;
  color: rgba(0,0,0,.8);
}

.ui.modal>.header {
  background-color: lightgrey;
}

.ui.modal.personal>.header, .ui.label.personal{
  background-color: #21ba45;
}

.snippetTags {
  padding-top: 10px;
}